<footer class="footer">
    <div class="arrow2" >
        <a href="#">
            <img src="../../../docs/assets/images/ico-arrow.svg" alt="arrow up">
        </a>
    </div>
    <div class="flex">
      <nav class="article-menu">
          <ul>
            <a href="https://adalab.es/" target="_blank" title="Article"><li>Articles</li></a>
            <a href="https://adalab.es/" target="_blank" title="Books"><li>Books</li></a>
            <a href="https://adalab.es/" target="_blank" title="Events"><li>Events</li></a>
            <a href="https://adalab.es/" target="_blank" title="Reasons"><li>Reasons</li></a>
            <a href="https://adalab.es/" target="_blank" title="Tips"><li>Tips</li></a>
          </ul>
      </nav>
      <nav class="social-menu">
          <ul>
            <a href="https://adalab.es/" target="_blank" title="Twitter"><li>Twitter</li></a>
            <a href="https://adalab.es/" target="_blank" title="Twitter"><li>Instagram</li></a>
            <a href="https://adalab.es/" target="_blank" title="Twitter"><li>Mastodon.social</li></a>
          </ul>
      </nav>
      <div class="copy"> 
        <span>©2017</span>
        <span>we <span class="heart">❤︎</span> components</span>
      </div>
    </div>
</footer>
