<footer class="footer">
  <nav class="blog-menu">
      <ul>
          <a href=""><li>Articles</li></a>
          <a href=""><li>Books</li></a>
          <a href=""><li>Events</li></a>
          <a href=""><li>Reasons</li></a>
          <a href=""><li>Tips</li></a>
      </ul>
  </nav>
  <nav class="social">
      <ul>
          <a href=""><li>Twitter</li></a>
          <a href=""><li>Instagram</li></a>
          <a href=""><li>Mastodon.social</li></a>
      </ul>
  </nav>
  <div>
      <span>©2017</span>
      <span>we ❤︎ components</span>
  </div>
</footer>
