<section class="purchase">
    <h2 class="title">
        3 Reasons To Purchase
    </h2>
    <div class="articles">
            <h3 class="article-title">
                Ut sed metus
            </h3>
            <p class="article-paragraph">
                Lorem ipsum dolor sit amet, consecteur.
            </p>
            <h3 class="article-title">
                Curabitur ac erat
            </h3>
            <p class="article-paragraph">
                Mauris mattis urna quis lorem molestie.
            </p>
            <h3 class="article-title">
                Morbi dictum
            </h3>
            <p class="article-paragraph">
                Aliquam in dolor et dolor tincidunt.
            </p>
    </div>
    <div class="button2">
        <a class="button2" href="#" title="more reasons">
            <h3>
                More reasons
            </h3>
        </a>
    </div>
</section>