<section id="purchase" class="purchase">
    <h2 class="title">
        3 Reasons To Purchase
    </h2>
    <div class="articles">
            <h3 class="article-title first">
                Ut sed metus
            </h3>
            <p class="article-paragraph first">
                Lorem ipsum dolor sit amet, consecteur.
            </p>
            <h3 class="article-title second">
                Curabitur ac erat
            </h3>
            <p class="article-paragraph second">
                Mauris mattis urna quis lorem molestie.
            </p>
            <h3 class="article-title third">
                Morbi dictum
            </h3>
            <p class="article-paragraph third">
                Aliquam in dolor et dolor tincidunt.
            </p>
    </div>
    <a class="button2" href="#" title="More Reasons">
        <h3>
            More reasons
        </h3>
    </a>
</section>