.footer{
    height: 465px;
    background-color: $secondary-dark-blue;
    color: $primary-light;
    & .arrow2{
        position: relative;
        margin: 0 auto;
        transform: translateY(-50%);
        border: 1px solid blue;
        border-radius: 50%;
        width:45px;
        height: 45px;
        background-color: $primary-light;
        @include flexColumn;
    }
    & .flex{
        border: 1px solid yellow;
        @include flexColumn;
        justify-content: space-around;


        & .article-menu{
            @include footerMmenusMobile;
            border: 1px solid green;
        }
        & .social-menu{
            @include footerMmenusMobile;
            border: 1px solid red;
            margin-top: 30px;
            margin-bottom: 30px;
        }
       
        & .copy{
            @include footerMmenusMobile;
            font-size: 14px;
            border: 1px solid blue;
            @include flexColumn;
            & .heart{
                color: $primary-orange;
            }
        }
        & .copy:last-child{
            text-transform: lowercase;
        }
    }
   
}
