.hero{
    height: 568px;
    width:100%;
    padding: 284px 15px 53px 15px;
    background-image: url(../images/cover.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    @include flexColumn;
    justify-content: flex-end;
    align-items: center;
    & .main-title{
        //border: 1px solid green;
        text-align: center;
        color: $primary-light;
        font-size: 42px;
        font-family: $primary-font;
        text-transform: uppercase;
        line-height: 55px;
        margin-top: 0;
        margin-bottom: 10px;

        & span{
            display: block;
        } 
    }
    & .main-subtitle{
        display: block;
        text-align: center;
        //border: 1px solid green;
        color: $primary-light;
        margin-bottom: 45px;
        font-family: $secondary-font;
        font-weight: 400;
        font-size: 16px;
    }
    & .arrow1{
        width: 45px;
        height: 45px;
        background-color: $primary-light;
        @include flexColumn;
        border-radius: 50%;
        & img{
            width: 20px;
            height: 12px;
        }
    }

    @include tablet{
        height: 768px;
        padding: 384px 39px 45px 39px;
        & .main-title{
            font-size: 80px;
            line-height: 106px;
            margin-bottom: 20px;
        }
        & .main-subtitle{
            font-size: 24px;
            margin-bottom: 30px;
        }
    }
    @include desktop{
        padding: 384px 275px 13px 275px;
        & .main-title{
            font-size: 100px;
            margin-bottom: 0;
        }
    }
}
    