.hero{
    height: 568px;
    width:100%;
    background-image: url(../images/cover.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    @include flexColumn;
    justify-content: flex-end;
    align-items: center;
    & h1{
        border: 1px solid green;
        text-align: center;
        color: $primary-light;
        font-weight: bold;
        font-size: 42px;
        font-family: $primary-font;
        text-transform: uppercase;
        line-height: 55px;
        margin-bottom: 10px;

        & span{
            display: block;
        } 
    }
    & h2{
        display: block;
        text-align: center;
        border: 1px solid green;
        color: $primary-light;
        margin-bottom: 45px;
        font-family: $secondary-font;
        font-size: 16px;
    }
    & .arrow1{
        width: 45px;
        height: 45px;
        background-color: $primary-light;
        @include flexColumn;
        border-radius: 50%;
        margin-bottom: 53px;

        & img{
            width: 20px;
            height: 12px;
        }
    }
}
    