.info{
    //border: 1px solid green;
    height: 376px;
    padding: 30px 15px 45px 15px;
    & .insomnia{
        //border: 1px solid green;
        font-family: $secondary-font;
        font-weight: 400;
        font-size: 14px;
        text-transform: capitalize;
        color: $tertiary-light-blue;
        line-height: 30px;
        margin-bottom: 1px;
    }
    & .window{
        //border: 1px solid red;
        font-family: $primary-font;
        text-transform: capitalize;
        font-size: 24px;
        line-height: 30px;
        margin-bottom: 15px;
    }
    & .paragraph{
        //border: 1px solid yellow;
        font-family: $secondary-font;
        font-weight: 400;
        font-size: 18px;
        line-height: 30px;
        text-align: justify;
        color: $secondary-dark-grey;
        margin-bottom: 30px;
    }
    & .button1{
        width: 76px;
        height: 45px;
        border: 2px solid $primary-orange;
        border-radius: 22.5px;
        @include flexColumn;
        transition: all;
        transition-duration: .3s;
        &:hover{
            width: 94px;
            height: 50px;
        }
        & h2{
            color: $primary-orange;
            font-family: $secondary-font;
            font-size: 20px;
            line-height: 45px;
            font-weight: 400;
        }
    }
    @include tablet{
        height: 330px;
        padding: 30px 39px 60px 39px;
        & .window{
            font-size: 26px;
            line-height: 45px;
            margin-bottom: 30px;
        }
        & .paragraph{
            font-size: 20px;
        }
        & .button1{
            width: 91px;  
            transition: all;
            transition-duration: .3s;
            &:hover{
                width: 106px;
                height: 50px;
            }          
        }
    }
    @include desktop{
        height: 360px;
        padding: 60px 275px 60px 275px;
        & .insomnia{
            font-size: 16px;
        }
        & .window{
            font-size: 32px;
        }
        & .button1{
            width: 160px;
            transition: all;
            transition-duration: .3s;
            &:hover{
                width: 175px;
                height: 50px;
            }
        }
    }
}   
