.purchase{
    //border: 1px solid red;
    height: 624px;
    padding: 30px 15px 60px 15px;
    background-color: $secondary-light-blue;
    
    & .title{
        //border: 1px solid green;
        text-align: center;
        margin-bottom: 45px;
    }

    & .articles{
        //border: 1px solid green;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        justify-items: center;
        align-self: center;
        text-align: center;

        & .article-title{
            //border: 1px solid red;
            grid-column: span 3;
            margin-bottom: 2px;
            font-family: $primary-font;
            font-weight: 500;
            font-size: 18px;
            line-height: 30px;

        }
        & .article-paragraph{
            //border: 1px solid blue;
            width: 180px;
            height: 63px;
            grid-column: span 3;
            font-family: $secondary-font;
            font-size: 18px;
            line-height: 30px;
            margin-bottom: 45px;
        }
    }
    
    & .button2{
        width: 184px;
        height: 45px;
        background-color: $primary-orange;
        border-radius: 22.5px;
        margin: 0 auto;
        @include flexColumn;
        transition: all;
        transition-duration: .4s;
        &:hover{
            width: 300px;
        }
        & h3{
            font-family: $secondary-font;
            font-weight: 500;
            color: $primary-light;
            transition:all;
            &:hover{
                color: $primary-dark;
            }
        }
    }
    @include tablet{
        height: 397px;
        padding:30px 39px 60px 39px;
        & .title{
            font-size: 26px;
            line-height: 45px;
        }
        & .articles{
            margin-bottom: 60px;
            & .article-title{
                font-size: 24px;
            }
            & .article-paragraph{
                width: 212.3px;
                height: 68px;
                font-size: 20px;
            }
            & .article-title.first{
                grid-column: 1;
                grid-row: 1;
            }
            & .article-title.second{
                grid-column: 2;
                grid-row: 1;
            }
            & .article-title.third{
                grid-column: 3;
                grid-row: 1;
            }
            & .article-paragraph.first{
                grid-column: 1;
                grid-row: 2;
                margin: 0;
            }
            & .article-paragraph.second{
                grid-column: 2;
                grid-row: 2;
                margin: 0;
            }
            & .article-paragraph.third{
                grid-column: 3;
                grid-row: 2;
                margin: 0;
            }
        }
        & .button2{
            width: 210px;
            transition: all;
            transition-duration: .4s;
            &:hover{
            width: 326px;
            }
            & h3{
                transition: all;
                &:hover{
                color: $primary-dark;
                }
            }
        }

    }
    @include desktop{
        height: 427px;
        padding:  60px 85px 60px 85px;
        & .title{
            font-size: 32px;
        }
        & .articles .article-paragraph{
            width: 353.8px;

        }
        & .button2{
            width: 255px;
            transition: all;
            transition-duration: .4s;
            &:hover{
                width: 371px;
            }
            & h3{
                transition: all;
                &:hover{
                color: $primary-dark;
                }
            }
        }

    }

}