*{
    margin: 0;
    padding: 0;
    text-decoration-style: none;
    box-sizing: border-box;
    color: inherit;
}

.header, .hero, .info, .purchase, .footer{
    border: 1px solid red;
}

.wrapper{
    margin: 15px;
}