*{
    margin: 0;
    padding: 0;
    text-decoration-style: none;
    list-style-type: none;
    box-sizing: border-box;
    color: inherit;
}

.header, .hero, .info, .purchase, .footer{
    border: 1px solid red;
}

.wrapper{
    margin: 15px;
}

/*variables*/

/*COLOR*/
:root{
    --primary-orange:#f26002;
    --primary-blue:#0271bc;
    --primary-light:#ffffff;
    --primary-dark:#000000;
    --secondary-light-blue:#eff9ff;
    --secondary-dark-blue:#304268;
    --secondary-dark-grey:#4a4a4a;
    --secondary-light-black:(0, 0, 0, 0.5); /*this is a black with .5 opacity*/
    --tertiary-light-blue:#8ccbea;
}

/*FONT*/

:root{
    --primary-font:'Roboto', sans-serif;
    --secondary-font:'Roboto Slab', serif;
}

html{
    font-family: var(--primary-font);
}